assets/res/routers/BigWorldWaypoint_1_path.bit
assets/res/routers/BigWorldWaypoint_1_path.json
assets/res/routers/BigWorldWaypoint_2_path.bit
assets/res/routers/BigWorldWaypoint_2_path.json
*.log
*.pyc
assets/scripts/data/.svn/
assets/scripts/kbengine_unity3d_plugins/.svn/
*.pid
assets/backup_xml/
centralService/bin/admin/admin
centralService/bin/admin/admin.exe
centralService/bin/auction/auction
centralService/bin/auction/auctionServer.exe
centralService/bin/crossDataServer/crossDataServer
centralService/.gitignore
centralService/bin/data/.svn/
centralService/bin/dropServer/dropServer
centralService/bin/login/centralLogin
centralService/bin/login/centralLogin.exe
centralService/bin/login/testLogin
centralService/bin/maple/maple
centralService/bin/router/router
centralService/bin/orderService/orderService
gameMerge/.svn/
